<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Concrete Strength Prediction</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-info">
    <div class="container">
      <h1 class="display-1 text-center">Concrete Strength Prediction</h1>
      <br />
      <div class="row">
        <div class="col">
          <form
            action="/predict"
            method="POST"
            class="bg-primary p-3 mb-2 rounded border border-danger"
          >
            <div class="row">
              <div class="col-6">
                <label for="Cement" class="form-label text-light"
                  >Cement (kg):</label
                >
                <input
                  type="number"
                  name="Cement"
                  class="form-control"
                  min="0"
                  step="any"
                  required
                />
              </div>
              <div class="col-6">
                <label for="Blast Furnace Slag" class="form-label text-light"
                  >Blast Furnace Slag (kg):</label
                >
                <input
                  type="number"
                  name="Blast Furnace Slag"
                  class="form-control"
                  min="0"
                  step="any"
                  required
                />
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <label for="Fly Ash" class="form-label text-light"
                  >Fly Ash (kg):</label
                >
                <input
                  type="number"
                  name="Fly Ash"
                  class="form-control"
                   min="0"
                  step="any"
                  required
                />
              </div>
              <div class="col-6">
                <label for="Water" class="form-label text-light"
                  >Water (kg): </label
                >
                <input
                  type="number"
                  name="Water"
                  class="form-control"
                  min="0"
                  step="any"
                  required
                />
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <label for="Superplasticizer" class="form-label text-light"
                  >Superplasticizer (kg):</label
                >
                <input
                  type="number"
                  name="Superplasticizer"
                  class="form-control"
                  min="0"
                  step="any"
                  required
                />
              </div>
              <div class="col-6">
                <label for="Coarse Aggregate" class="form-label text-light"
                  >Coarse Aggregate (kg):</label
                >
                <input
                  type="number"
                  name="Coarse Aggregate"
                  class="form-control"
                  min="0"
                  step="any"
                  required
                />
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <label for="Fine Aggregate" class="form-label text-light"
                  >Fine Aggregate (kg):</label
                >
                <input
                  type="number"
                  name="Fine Aggregate"
                  class="form-control"
                  min="0"
                  step="any"
                  required
                />
              </div>
              <div class="col-6">
                <label for="Age" class="form-label text-light"
                  >Age :</label
                >
                <input
                  type="number"
                  name="Age"
                  class="form-control"
                  min="0"
                  step="any"
                  required
                />
              </div>
            </div>
            <br />
            <button type="submit" class="btn btn-success btn-lg col-12">
              Predict
            </button>
          </form>
        </div>
        <div class="col">
          {% if prediction_test %}
          <div class="card bg-primary border border-danger">
            <div class="card-body">
              <h5 class="card-title">Prediction Result</h5>

              <p
                class="card-text display-6 bg-success p-3 mb-2 rounded text-white"
              >
                Concrete Compressive Strength Prediction: {{prediction_test }} kg
                <!-- The predicted house value is ${{ prediction_test }} -->
              </p>
            </div>
            <div
              class="card-footer text-body-secondary card-subtitle text-body-secondary"
            >
              NOTE: Accurate within around 6 kg.
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
